
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@font-face {
	font-family: Kaftan;
	src: url(../font/Kaftan\ -\ Trial.otf);
}

@font-face {
	font-family: Raleway;
	src: url(../font/Raleway/Raleway-Regular.ttf);
  }

@font-face {
	font-family: Raleway_cursiva;
    src: url(../font/Raleway/Raleway-LightItalic.ttf);
}
/* <menu> */
.navbar{
	background: rgba(0, 0, 0, 0.059);
	backdrop-filter: blur(10.9px);
	-webkit-backdrop-filter: blur(10.9px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.376);
	font-family: raleway;
}

.navbar-item{
	text-decoration: none;
	font-size: 1.3em;
	color: aliceblue;
}
.navbar-item:hover{
	text-decoration: none;
    background-image: url(../img/fondo.png);
}

.navbar-burger {
	color: aliceblue;
}

.navbar-menu {
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(10.9px);
	-webkit-backdrop-filter: blur(10.9px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.376);
}

.title {
    font-family: Kaftan;
    font-size: 10em;
    font-weight: normal;
}

.subtitle {
    font-family: Raleway_cursiva;
    font-size: 4em;
    font-weight: normal;
}

#header{
    background-image: url(../img/cabecera.jpg);
    background-size: cover;
}

#title{
    color: #2B4836;
}

#background_green {
    background-color: #2B4836;
}

.bd-notification.is-primary {
    background-color: #00d1b2;
    color: #fff;
}