
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@font-face {
	font-family: Kaftan;
	src: url(../font/Kaftan\ -\ Trial.otf);
}

@font-face {
	font-family: Raleway;
	src: url(../font/Raleway/Raleway-Regular.ttf);
  }

@font-face {
	font-family: Raleway_cursiva;
    src: url(../font/Raleway/Raleway-LightItalic.ttf);
}
/* <menu> */
.navbar{
	background: rgba(0, 0, 0, 0.059);
	backdrop-filter: blur(10.9px);
	-webkit-backdrop-filter: blur(10.9px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.376);
	font-family: raleway;
}

.navbar-item{
	text-decoration: none;
	font-size: 1.3em;
	color: aliceblue;
}
.navbar-item:hover{
	text-decoration: none;
    background-image: url(../img/fondo.png);
}

.navbar-burger {
	color: aliceblue;
}

.navbar-menu {
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(10.9px);
	-webkit-backdrop-filter: blur(10.9px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.376);
}

.title {
    font-family: Kaftan;
    font-size: 10em;
    font-weight: normal;
}

.subtitle {
    font-family: Raleway_cursiva;
    font-size: 4em;
    font-weight: normal;
}

#header{
    background-image: url(../img/cabecera.jpg);
    background-size: cover;
}

#title_tienda{
    color: #2B4836;
    padding-top: 0.5em;
}

#background_green {
    background-color: #2B4836;
}

#card_tienda{
    background: rgba(255, 255, 255, 0.124);
	backdrop-filter: blur(10.9px);
	-webkit-backdrop-filter: blur(10.9px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.376);
	font-family: raleway;

}

#tienda_background{
    background-image: url(../img/ovejas.jpg);
    background-size: cover;

}

.is-img-center {
    margin: 0 auto;
}

.rounded-xl {
    border-radius: 0.75rem !important;
}

.is-cursor-pointer {
    cursor: pointer !important;
}

.transform {
    -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.is-duration-300 {
    transition-duration: 0.3s;
}

.hover-translate-y:hover {
    -webkit-transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
    transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
}

@media screen and (min-width: 769px){
    .hero.is-large .hero-body {
        padding: 0rem 0rem;
        margin: 0 5em 0 5em;
    }

}
.column{
    padding: 3em;
 }
.hero.is-large .hero-body{
    margin: 0 5em 0 5em;
}

/* comentarios */

#margen_comentarios1{
	margin: 3em 3em 0 3em;
}

#margen_comentarios2{
	margin: 0 3em 0 3em;
}

#margen_comentarios3{
	margin: 0em 3em 3em 3em;
}